.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

.grid-mobile-6,
[class^="grid-"],
[class*=" grid-"] {
  float: left;
  display: block;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: calc(100% / 12 - 20px);
}

.grid-2 {
  width: calc(100% / 12 * 2 - 20px);
}

.grid-3 {
  width: calc(100% / 12 * 3 - 20px);
}

.grid-4 {
  width: calc(100% / 12 * 4 - 20px);
}

.grid-5 {
  width: calc(100% / 12 * 5 - 20px);
}

.grid-6 {
  width: calc(100% / 12 * 6 - 20px);
}

.grid-7 {
  width: calc(100% / 12 * 7 - 20px);
}

.grid-8 {
  width: calc(100% / 12 * 8 - 20px);
}

.grid-9 {
  width: calc(100% / 12 * 9 - 20px);
}

.grid-10 {
  width: calc(100% / 12 * 10 - 20px);
}

.grid-11 {
  width: calc(100% / 12 * 11 - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

.grid-mobile-6 {
  width: calc(50% - 20px);
}

.row,
.row-mobile {
  margin-left: -10px;
  margin-right: -10px;
}

.row::after,
.row::before,
.row-mobile::after,
.row-mobile::before {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 739px) {
  .container {
    max-width: 300px;
  }

  [class^="grid-"],
  [class*=" grid-"] {
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .grid-mobile-6 {
    float: left;
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
