body,
p,
h1,
h2,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Menu */
.header-info {
  font-size: 0.875em;
  background: #d6d3c8;
  padding: 7px 0;
  text-align: center;
}

.header-logo img {
  margin: 40px auto;
}

.menu {
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 5px 10px 5px 0;
  color: #252525;
  font-size: 1.125em;
}

.menu ul li a::before {
  content: "";
  border: 3px solid #252525;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.menu ul li:first-child a::before {
  display: none;
}
